<%- include('./partials/header.ejs') %>

<main>

    
    <form class="form form--toggle" data-form-type method="POST">
        <button class="btn btn--nav <%= toggleType == 'join-game' ? 'active' : '' %>" type="submit" data-form-type-btn name="toggle"  value="join-game">Join game</button>
        <button class="btn btn--nav <%= toggleType == 'create-game' ? 'active' : '' %>" type="submit" data-form-type-btn name="toggle" value="create-game">Create game</button>
    </form>

    <form class="form form--game-setup" method="POST">
        <input data-form_type type="hidden" name="form_type" value="<%= toggleType == 'create-game' ? 'create' : 'join' %>">

        <fieldset class="game-setup--icon" >
            <h2 class="hidden-text">Select an avatar</h2>

            <div class="loader hidden" data-loader>
                <i class="fa-solid fa-spinner"></i>
            </div>

            <% randomAvatars.forEach((path , i) => { %>
                <label>
                    <input type="radio" name="avatar" value="<%= path %>" <%= i == 0 ? 'checked' : '' %>>
                    <picture class="avatar">
                        <img data-avatar-img src="<%= path %>" alt="Random avatar">
                    </picture>
                </label>
            <% }) %>

            <button class="btn btn--icon hide" data-refresh-icons type="button"><i class="fa-solid fa-arrows-rotate"></i></button>
            
        </fieldset>

        <% if (error) { %>
            <div class="error">
                <p><%= errorMessage %></p>
            </div>
        <% } %>

        <fieldset class="form-section" data-game-form>
            <h2 data-form_type-heading class="hidden-text"><%= toggleType == 'create-game' ? 'Create your own game' : 'Join a game' %></h2>
        
            <div class="<%= toggleType == 'create-game' ? 'hide' : '' %>" data-room_code-section>
                <label for="room_code">Room code:</label>
                <input name="room_code" data-room_key-input autocomplete="off" placeholder="QHW2161"/>
    
                <hr>
            </div>

            <label for="username">Username:</label>
            <input name="username" data-nickname-input autocomplete="off" placeholder="Ideas: stinky, peepo, b00b3nj0yer"/>

        </fieldset>

        
        <button class="btn" type="submit">Let me in</button>
    </form>
    
</main>

<script src="/public/js/formToggle.js"></script>
<script src="/public/js/avatarGen.js"></script>
